<div class="row">
    <div class="col-12">
    <form [formGroup]="postForm" (ngSubmit)="addPost()">
        <div class="md-3">
            <label>Title</label>
            <input type="text" class="form-control" placeholder= 'Title min 6 char' formControlName="title"/>
           <div class="alert-danger"> {{showtitleErrors()}}</div>
        </div>
        <div class="md-3">
            <label>Description</label>
            <textarea type="text" class="form-control" placeholder= 'Description min 10 char' formControlName="description"></textarea>
            <div class="alert-danger">{{showDescriptionErrors()}}</div>
        </div>
        <div class="my=3">
            <button type="submit" class="btn btn-primary"[disabled]="!postForm.valid" style="margin-top:10px">Add Post</button>
        </div>
    </form>
    </div>
</div>

